<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
entered name:<h2 th:text=${user.name}></h2><br>
entered password:<h2 th:text=${user.password}></h2>
</body>
</html>